{{ define "main" }}
<main>
    <header class="py-5">
        <h1 class="var__title text-center mw-none pb-4 relative">{{.Title}}</h1>
    </header>
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        {{ range .Paginator.Pages }}
                        <div class="colums__tumbnail col-lg-6 col-md-6 mb-5" style="width: 25rem;">
                            <div class="ct__thumbnail">
                                <a href="{{ .Permalink }}">
                                    <img src="{{.Params.image }}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="item__content">
                                <h5 class="pt-4 pb-3"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                                <p class="pb-2">{{ .Summary }}</p>
                                <span>{{ .Params.authors }}</span>
                                <span> || {{ .Date | time.Format ":date_long" }} </span>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
                <div class="content-sidebar col-4">
                    {{ partial "sidebar.html" . }}
                </div>
            </div>
        </div>
    </section>
</main>
{{ end }}