<hr>
<footer class="py-7" style="background-color: #000; color: rgb(255, 255, 255);">
    <div class="container d-flex justify-content-center sx-3">
        <div class="col-lg-4">
            <ul>
                <li class="text-center sx-3 fw-bold">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/posts">Blog</a>
                    <a href="/products">Product</a>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul class="sy-3">
                <li class="text-center fw-bold">
                    <a href="/posts">Blog</a>
                </li>
                <p class="text-center" style="color: white;">Nullam nec enim aliquet, consequat velit ac, interdum enim. Morbi massa libero, rutrum vel ante eu, luctus malesuada est.</p>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul>
                <li class="navbar__item sx-3 text-center fw-bold">
                    <a href="/products">Product</a>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</footer>